<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-content">
                <br>
                <div class="row">
                 
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <legend>Purchase E-Pins</legend>
                        
                        <div class="col-sm-3">
                        	<label>Purchase</label>
                        	 <div>
                        		<select class="form-control">
                        			<option>dummy</option>
                        			<option>dummy</option>
                        			<option>dummy</option>
                        			<option>dummy</option>
                        			<option>dummy</option>
                        		</select>
                        </div>
                        </div>
                       
                          <div class="col-sm-3">
                        	<label>Price</label>
                        	 <div>
                        	<input type="text" name="Purchase" class="form-control">
                        </div>
                        </div>

                          <div class="col-sm-3">
                        	<label>No. Of Pins</label>
                        	 <div>
                        	<input type="text" name="Purchase" class="form-control">
                        </div>
                        </div>
                        <div class="col-sm-3">
                        	<label></label>
                        	 <div>
                        		<button class="btn btn-primary btn-md">Add</button>
                        	</div>
                        </div>
                    </div>
                </div>
                <br>
                <br>

               
               
                <br>
                <br>
              
            </div>
        </div>
        <!-- end card -->



        <div class="card">
            <div class="card-content">
                <br>
                
                  <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="purple">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Transactions</h4>
                       
                         <app-md-datatable [data]="dataTable"></app-md-datatable>
                         
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
                <br>
                <br>

               
               
                <br>
                <br>
              
            </div>
        </div>


    </div>
</div>
