<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">An OTP has been send to your mail</h3>
      </div>
      <div class="modal-body">
      
  		<form [formGroup]="otpTransfer" style="overflow: hidden;">
            <div class="form-group label-floating">
                <label class="control-label">Enter OTP...</label>
                <input type="text" class="form-control" formControlName="otpVal" >
            </div>
            
            <button class="btn btn-fill btn-primary pull-left" [disabled]="!otpTransfer.value.otpVal" (click)="sendOTP()">Submit OTP</button>
            <button class="btn btn-fill btn-default pull-right" [disabled]="resendBtn" (click)="resendOTP()">Resend OTP</button>
        </form>
      	
      </div>
    </div>
  </div>
</div>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="container-fluid">
					<div class="card">
				    	<form [formGroup]="loginPassword">
				        	<div class="card-header card-header-icon" data-background-color="rose">
				           		<i class="material-icons">fingerprint</i>
				        	</div>
				        	<div class="card-content">
				            	<h4 class="card-title">Change Login Password</h4>
				           		 <div class="form-group label-floating"  [ngClass]="displayFieldCss(loginPassword, 'currentPassword')">
				                	<label class="control-label" for="currentPassword">Current {{wallet}} Password
				                    <span class="star">*</span>
				               		 </label>
				                	 <input type="password" id="currentPassword" class="form-control" formControlName="currentPassword"
				                 		pattern="">
				            		<span class="material-input"></span>
				            		<app-field-error-display [displayError]="isFieldValid(loginPassword, 'currentPassword')" errorMsg="Current Password is required">
				                	</app-field-error-display>
				            	</div>
			            		<div class="form-group label-floating" [ngClass]="displayFieldCss(loginPassword, 'password')">
			               			 <label class="control-label" for="password">New {{wallet}} Password
			                  		  <span class="star">*</span>
			               			 </label>
			               			 <input type="password"
						                id="password"
						                class="form-control"
						                formControlName="password">
						             <span class="material-input"></span>
						             <app-field-error-display [displayError]="isFieldValid(loginPassword, 'password')" errorMsg="Password length should be greater or equal to 4 and less than 20">
				                	</app-field-error-display>
			            		</div>

				            	<div class="form-group label-floating" [ngClass]="displayFieldCss(loginPassword, 'confirmPassword')">
					                <label for="confirmPassword" class="control-label">Confirm {{wallet}} Password
				                    	<span class="star">*</span>
				                	</label>
				                  	<input
				                    type="password"
				                    class="form-control"
				                    id="confirmPassword"
				                    formControlName="confirmPassword">
				                    <span class="material-input"></span>
				                    <app-field-error-display
				                     [displayError]="isFieldValid(loginPassword, 'confirmPassword')" errorMsg="Passwords mismatch. Try again!">
				                    </app-field-error-display>
				           		</div>
				            	<div class="category form-category">
				                	<span class="star">*</span> Required fields
				            	</div>
					            <div class="form-footer text-right">
					                <div class="form-group">
					                    <button type="submit" class="btn btn-rose btn-fill btn-wd smallcap" (click)="onUpdate('login')">Update</button>
					                </div>
					            </div>
				        	</div>
				    	</form>
					</div>
				</div>
        	</div>
                      
            <div class="col-md-6">
                <div class="container-fluid">
					<div class="card">
				    	<form [formGroup]="walletPassword">
				        	<div class="card-header card-header-icon" data-background-color="purple">
		           				 <i class="material-icons">fingerprint</i>
		        			</div>
				        	<div class="card-content">
				            	<h4 class="card-title">Change Wallet Password</h4>

				            	<div class="form-group label-floating"  [ngClass]="displayFieldCss(walletPassword, 'currentPassword')">
				                	<label class="control-label" for="currentPassword2">Current Wallet Password
				                    	<span class="star">*</span>
				                	</label>
				                	<input type="password" id="currentPassword2" class="form-control" formControlName="currentPassword"
		                 			pattern="">
		                 			<app-field-error-display [displayError]="isFieldValid(walletPassword, 'currentPassword')" errorMsg="Current Password is required">
		                			</app-field-error-display>
				        			    <span class="material-input"></span>
				        		</div>

				            	<div class="form-group label-floating" [ngClass]="displayFieldCss(walletPassword, 'password')">
				                	<label class="control-label" for="password2">New Wallet Password
				                    <span class="star">*</span>
				                	</label>
				                	<input type="password" id="password2" class="form-control" formControlName="password">
					                <app-field-error-display [displayError]="isFieldValid(walletPassword, 'password')" errorMsg="Enter a valid password.">
		                			</app-field-error-display>
				        		</div>

				            	<div class="form-group label-floating" [ngClass]="displayFieldCss(walletPassword, 'confirmPassword')">
				                	<label class="control-label" for="confirmPassword2">Confirm Wallet Password
				                    	<span class="star">*</span>
				                	</label>
				                  	<input type="password" class="form-control" id="confirmPassword2" formControlName="confirmPassword">
				                    <app-field-error-display
				                     [displayError]="isFieldValid(walletPassword, 'confirmPassword')" errorMsg="Passwords mismatch. Try again!">
				                    </app-field-error-display>
				            	</div>
				            	
					            <div class="category form-category">
					                <span class="star">*</span> Required fields
					            </div>
					            <div class="form-footer text-right">
					                <div class="form-group">
					                    <button type="submit" class="btn btn-primary btn-fill btn-wd smallcap" (click)="onUpdate('transaction')">Update</button>
					                </div>
					            </div>
				        	</div>
				    	</form>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>