<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://jaavatrade.com/index.html">
                        Home
                    </a>
                </li>
                <li>
                    <a href="https://jaavatrade.com/about.html">
                        About
                    </a>
                </li>
                <li>
                    <a href="https://jaavatrade.com/Road-map.html">
                        Road Map
                    </a>
                </li>
                <li>
                    <a href="https://jaavatrade.com/Testimonials.html">
                        Testimonial
                    </a>
                </li>
                <li>
                    <a href="https://jaavatrade.com/contact.html">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; Copyright
            {{test | date: 'yyyy'}}
            <a href="https://www.jaavatrade.com">JaavaTrade</a>, All Rights Reserved!
        </p>
    </div>
</footer>
